<!-- Show user Phone Book-->
<div id="phonebook" class="widget">
  <div class="widgetTitle">User Phone Book</div>
  <div class="sectionTitle">ME:</div>

  <div class="nameSection" *ngIf="currentUser">
    <div>Name: {{ currentUser.name }}</div>
    <div>Phone: {{ currentUser.phone | phoneTransform }}</div>
  </div>

  <div class="sectionTitle">OTHER USERS:</div>
  <div #otherusers class="nameSection">
    <div
            *ngFor="let other of otherUsers"
            appHoverBackground
            [phone]="other.phone"
    >
      <div>Name: {{ other.name }}</div>
      <div>Phone: {{ other.phone |  phoneTransform }}</div>
    </div>
  </div>
</div>


<div id="demographics" class="widget">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [callbackFunction]="chartCallback"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;"
    [(update)]="updateFlag"
  ></highcharts-chart>
</div>
